* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  width: 100%;
  min-height: 100vh;
  background: #161623;
}

section {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 420px;
    height: 420px;
    background: linear-gradient(to top, #2196f3, #e91e63);
    border-radius: 50%;
    top: -150px;
    left: -150px;
  }
  &::after {
    position: absolute;
    content: "";
    width: 520px;
    height: 520px;
    background: linear-gradient(#f00, #f0f);
    border-radius: 50%;
    bottom: -150px;
    right: -150px;
  }
}

section .container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section .container .card {
  width: 300px;
  height: 450px;
  border-radius: 15px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  z-index: 2;
  backdrop-filter: blur(5px);
  &:hover .contact {
    transform: translateY(0px);
    opacity: 1;
  }
}

section .container .card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.content {
  text-align: center;
  padding: 10px;
  letter-spacing: 1px;
}
.contact {
  width: 200px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  transition: 0.5s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
  a {
    margin: 10px;
    i {
      font-size: 20px;
      font-weight: bold;
      transition: 0.5s ease-in-out;
      &:hover {
        color: #2196f3;
        transform: scale(1.3);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 10px;
  }
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .container .card {
    width: 100%;
    margin: 30px;
  }
}
