* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

body::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #e91e63, #e91e63 50%, #ffc107 50%, #ffc107);
}

body::after {
  position: absolute;
  content: "";
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, #03a9f4 50%, transparent 50%);
  -webkit-animation: animate 5s ease-in-out infinite;
          animation: animate 5s ease-in-out infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.container {
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -150px;
  left: 0;
  border-radius: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.2), transparent, transparent);
  z-index: 1;
  -webkit-animation: animate 5s ease-in-out infinite;
          animation: animate 5s ease-in-out infinite;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.container .box {
  position: relative;
  width: 400px;
  height: 400px;
  z-index: 1;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: animate 5s ease-in-out infinite;
          animation: animate 5s ease-in-out infinite;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.container .box .clock {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.2)), url(analog_clock.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
  border-right: none;
  -webkit-box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1), 0 40px 50px rgba(0, 0, 0, 0.1);
          box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1), 0 40px 50px rgba(0, 0, 0, 0.1);
}

.container .box .clock::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10000;
}

.hour,
.minute,
.seconds {
  position: absolute;
}

.hour,
.hh {
  width: 160px;
  height: 160px;
}

.minute,
.mm {
  width: 190px;
  height: 190px;
}

.seconds,
.ss {
  width: 230px;
  height: 230px;
}

.hh,
.mm,
.ss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hh::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff1053;
  border-radius: 6px;
  z-index: 11;
}

.mm::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  border-radius: 6px;
  z-index: 12;
}

.ss::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 150px;
  background: #fff;
  border-radius: 6px;
  z-index: 12;
}
/*# sourceMappingURL=style.css.map */