@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e8f6ef;
}

.cards {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1200px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cards .card {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.cards .card:hover .back {
  bottom: 0;
}

.cards .card:hover .back .media i {
  margin-bottom: 0px;
}

.cards .card .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.cards .card .front img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 400px;
}

.cards .card .front:hover ~ .back h3 {
  top: 10%;
}

.cards .card .front:hover ~ .back p {
  top: 30%;
}

.cards .card .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.2);
  bottom: -50%;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.cards .card .back h3 {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  position: absolute;
  top: -20%;
  letter-spacing: 0.1em;
  color: white;
}

.cards .card .back p {
  position: absolute;
  top: -25%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  letter-spacing: 0.01em;
  color: #fff;
}

.cards .card .back .media {
  position: absolute;
  bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 200px;
  height: 50px;
}

.cards .card .back .media i {
  margin-bottom: -90px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.cards .card .back .media i:nth-child(1) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.cards .card .back .media i:nth-child(2) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.cards .card .back .media i:nth-child(3) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
/*# sourceMappingURL=style.css.map */